<!--
Main template for the interface : act as a layout
-->

<!DOCTYPE html>
<html>
  <head>
		<title><%= title %></title>
    <script src="/javascripts/angular.min.js"></script>
    <script src="/javascripts/angular-route.min.js"></script>
    <script src="/javascripts/ng-file-upload.min.js"></script>
		<script src="javascripts/app.js"></script>
		<script src="javascripts/script.js"></script>
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="stylesheets/style.css">
	</head>
	<body ng-app="AXIS-SOW-POC">
		<div id='main' class="container">
			<nav class="navbar-fluid navbar-default navbar-fixed-top">
				<div class="container">
					<a class="navbar-brand" href="#/"> <%= title %> </a>
					<p class="navbar-text"> Proof of concept </p>

        			<p class="navbar-right navbar-text" ng-hide="authenticated"><a href="#/list">View gallery</a> / <a href="#/import">Import a media</a></p>
				</div>
			</nav>
			<div class="col-md-12">
				<div ng-view>
				</div>
			</div>
		</div>
	</body>
</html>
