body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#sequenceurContainer{
    overflow-x: scroll;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;	
}

#sequenceur{
    background-color : #343434;
}

text.tagName:hover{
    cursor: pointer;
}

/*
    CSS for Dialog of fragment Creation
*/

.dialogAlign{
    text-align:  center;    
}

.alignLeft{
    text-align: left;
}

.tab-pane{
    margin-top : 10px;
}


.framework{
  display:block;
  word-wrap: break-word;
  margin-bottom : 10px;
}

span.categoryName{
    display : inline-block; 
    float: left;
    width : 150px;
    text-decoration: underline; 
    font-weight: bold;
}

.css-form input[type="text"].ng-invalid.ng-touched {
  border: 1px solid #FA787E;
}

.css-form input[type="text"].ng-valid.ng-touched {
  border:  1px solid #78FA89;
}