<div ng-controller="manageRegisterController">
  <h4>Register Manager</h4>
  <h5> New Register </h5>
  
  <md-form name="addForm">

    <div class="row">
      <md-input-container>
        <label>Name</label>
        <input ng-model="addRegisterName" type="text" name="addRegisterName"></input>
      </md-input-container>

      <md-input-container>
        <md-select ng-model="selectedClass" md-selected-text="getSelectedText()">
          <md-optgroup ng-repeat="category in categories" label="{{category.label}}">
            <md-option ng-if="category.subClass.length!=0" ng-value="subCat.label" ng-repeat="subCat in category.subClass">{{subCat.label}}</md-option>
            <md-option ng-if="category.subClass.length==0" ng-value="category.label">{{category.label}}</md-option>
          </md-optgroup>
        </md-select>
      </md-input-container>
    </div>

    <div class="row">
      <md-input-container>
        <label>Propriétés1</label>
        <input ng-model="addRegisterProp1" type="text"></input>
      </md-input-container>

      <md-input-container>
        <label>Propriétés2</label>
        <input ng-model="addRegisterProp2" type="text"></input>
      </md-input-container>
    </div>

    <div>
      <md-button type="submit" ng-click="addRegisterInstance()">Create</md-button>
    </div>
  </md-form>

  <h5> Create predicate </h5>
  <div class="row">
    <md-form name="createPredicateForm">
      <md-input-container>
        <label>Name (ex: hasLivedIn)</label>
        <input ng-model="addPredicateName" type="text"></input>
      </md-input-container>



      <div>
       <md-button type="submit" ng-click="addPredicate()">Create</md-button>
      </div>

    </md-form>
  </div>

  <h5> Add predicate to given registers </h5>
  <div class="row">
    <md-form name="modifForm">
      <md-input-container>
        <md-select ng-model="selectedIndividualSubject" md-selected-text="getSelectedIndSubject()">
          <md-optgroup ng-repeat="category in categories" label="{{category.label}}">
            <md-optgroup ng-repeat="subCat in category.subClass" label="{{subCat.label}}">
              <md-option ng-value="individual.label" ng-repeat="individual in subCat.individuals">{{individual.label}}</md-option>
            </md-optgroup>
          </md-optgroup>
        </md-select>
      </md-input-container>

      <md-input-container>
        <md-select ng-model="selectedPredicate" md-selected-text="getSelectedPredicate()">
          <md-option ng-value="predicate" ng-repeat="predicate in predicates">{{predicate}}</md-option>
        </md-select>
      </md-input-container>

      <md-input-container>
        <md-select ng-model="selectedIndividualObject" md-selected-text="getSelectedIndObject()">
          <md-optgroup ng-repeat="category in categories" label="{{category.label}}">
            <md-optgroup ng-repeat="subCat in category.subClass" label="{{subCat.label}}">
              <md-option ng-value="individual.label" ng-repeat="individual in subCat.individuals">{{individual.label}}</md-option>
            </md-optgroup>
          </md-optgroup>
        </md-select>
      </md-input-container>


      <div>
       <md-button type="submit" ng-click="addPredicateToRegisters()">Create</md-button>
      </div>

    </md-form>
  </div>

  <h5> Delete Register </h5>
  <div class="row">
    <md-form name="deleteForm">
      <md-input-container>
        <md-select ng-model="selectedIndividualDelete" md-selected-text="getSelectedIndDelete()">
          <md-optgroup ng-repeat="category in categories" label="{{category.label}}">
            <md-optgroup ng-repeat="subCat in category.subClass" label="{{subCat.label}}">
              <md-option ng-value="individual.label" ng-repeat="individual in subCat.individuals">{{individual.label}}</md-option>
            </md-optgroup>
          </md-optgroup>
        </md-select>
      </md-input-container>


      <div>
       <md-button type="submit" ng-click="deleteRegister()">Delete</md-button>
      </div>

    </md-form>
  </div>
</div>