<div ng-controller="manageRegisterController">
  <h4>Register Manager</h4>
  <h5> New Register </h5>
  
  <md-form name="addForm">

    <div class="row">
      <md-input-container>
        <label>Name</label>
        <input ng-model="addRegisterName" type="text" name="addRegisterName"></input>
      </md-input-container>

      <md-input-container>
        <md-select ng-model="selectedClass" md-selected-text="getSelectedText()">
          <md-optgroup ng-repeat="category in categories" label="{{category.label}}">
            <md-option ng-if="category.subClass.length!=0" ng-value="subCat.label" ng-repeat="subCat in category.subClass">{{subCat.label}}</md-option>
            <md-option ng-if="category.subClass.length==0" ng-value="category.label">{{category.label}}</md-option>
          </md-optgroup>
        </md-select>
      </md-input-container>

      <md-button type="submit" ng-click="addRegisterInstance()">Create</md-button>
    </div>
  </md-form>
</div>