<div ng-controller="manageRegisterController">
  <h4>Register Manager</h4>
  <!--Mechanism to add a register to the database -->
  <h5> Create Register </h5>
  <!--Specify the register name-->
  Name :
  <input type="title" ng-model="registerName">
  </input>
  <!--Specify the register category-->
  <select name="repeatSelect" id="repeatSelect" ng-model="selectedCategorie">
    <option ng-repeat="categorie in allCategories track by $index" value="{{categorie.uri}}">{{categorie.name}}</option>
  </select>
  <!--Start the register creation mechanism-->
  <button ng-click="createRegister()"> Create </button>
  <br>
  <br>
</div>
